<table class="pure-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td>
        <%= link_to 'Edit', edit_admin_article_path(article.id), class: 'pure-button' %>
        <%= link_to 'Delete', admin_article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: 'pure-button button-error' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
