<div id="layout" class="pure-g">
  <div id="sidebar" class="pure-u-1 pure-u-md-1-4">
    <div id="header">
      <h1 class="brand-title">Just for the LULZ!</h1>
      <h2 class="brand-tagline">Um blog com os meus aprendizados e reflexões sobre tecnologia, desenvolvimento de software, a vida, o universo e tudo mais.</h2>
    </div>
  </div>
  <div id="content" class="pure-u-1 pure-u-md-3-4">
    <div>
      <div class="posts">
        <h1 class="content-subhead">Posts recentes</h1>
        <% @articles.each do |article| %>
          <section class="post">
            <header class="post-header">
              <%= image_tag article.author.avatar.url(:small), size: '48x48', class: 'post-avatar', alt: article.author.name + "'s avatar" %>
              <h2 class="post-title"><%= article.title %></h2>
              <p class="post-meta">
                By <%= article.author.name %>
              </p>
              <div class="post-description">
                <p><%= kramdown article.text %></p>
              </div>
            </header>
          </section>
        <% end %>
      </div>
      <div class="footer">
        <div class="pure-menu pure-menu-horizontal pure-menu-open">
          <ul>
            <li><a href="http://about.me/lulzaugusto">About</a></li>
            <li><a href="http://twitter.com/lulzaugusto">Twitter</a></li>
            <li><a href="http://github.com/Hodes">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
