<h1>Listing articles</h1>
<%= link_to 'My blog', controller: 'articles' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New article', new_article_path %>
