<div class="posts">
  <% @articles.each do |article| %>
    <section class="post">
      <%= render partial: 'post_header', locals: {article: article} %>
      <div class="post-description">
        <%= truncate_html(kramdown(article.text), length: 350, omission: '... ') %>
        <%= link_to '(Continue lendo)', post_path(article.slug) %>
      </div>
    </section>
  <% end %>
</div>
