<div class="posts">
  <section class="post">
    <%= render partial: 'post_header', locals: {article: @article} %>
    <div class="post-description">
      <p><%= kramdown @article.text %></p>
    </div>
  </section>
</div>
<%= render :partial => "shared/disqus" %>
