/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require pure
 *= require pure/grids-responsive
 *= require highlightjs
 *= require blog
*/
// @import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

@mixin box-sizing {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

* { @include box-sizing; }

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
/* SIDEBAR */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
	padding: 0;
}

#sidebar {
	background: #263248;
    color: #fff;
    @include box-shadow(0 0 5px black);
}

#header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.brand-title {
    border: 3px solid white;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 10px 10px 7px;
}

.brand-title a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.brand-tagline {
    font-weight: 300;
    color: #7e8aa2;
}

hr {
    border-width: 0;
    height: 1px;
    background-color: white;
    width: 80%;
}

.nav-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item a:hover {
    color: #ff9800;
    border-color: #ff9800;
}

/* CONTENT */
#content {
	padding: 2em 1em 0;
}

.content-subhead {
	border-bottom: 1px solid #eee;
    color: #aaa;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 0.4em 0;
    text-transform: uppercase;
}

.post {
    font-family: 'Raleway', sans-serif;
	padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ebf2f6;
}

.post-title {
	color: #222;
	font-size: 28px;
	margin-bottom: 0.2em;
}

.post-title a:hover {
    color: #ff9800;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-meta {
	color: #999;
	font-size: 16px;
	margin: 0;
}

.post-description {
	color: #444;
    font-size: 14px;
    line-height: 1.8em;
}

.post-description h2,
.post-description h3,
.post-description h4,
.post-description h5,
.post-description h6 {
    font-weight: bold;
}

.post-description a {
    color: #ff9800;
}

.post-description a:hover {
    text-decoration: underline;
}

@media (min-width: 48em) {
    #content {
        padding: 2em 3em 0;
        margin-left: 300px;
        max-width: 800px;
    }

    #header {
        margin: 70% 2em 0;
        text-align: center;
    }

    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
    }
}
